
.juniors {

		&__content {
            display: flex;
            align-items: flex-end;
		}

		&__list {
            margin-top: 35px;
        }

        &__advantages{
            margin-top: 30px;
        }
        .preview-junior{
            color: $def-white;
            background:$def-blue;
            @extend %avenir-bold;
            font-size: 40px;
            border-radius: 141px;
            position: relative;
            margin-bottom: 45px;
            padding: 85px 85px 33px 82px;
            word-break: break-word;
            min-width: 800px;
            margin-right: -27rem;
            &__image-box{
                position: absolute;
                top: -184px;
                left: -12px;
            }
            &__image{
                  object-fit: cover;
            }
            &::after{
                @include pseudo;
                background: url('../../img/Center-page/arrow-blue.svg') center center no-repeat;
                background-size: contain;
                height: 100%;
                width: 100%;

                top: 0px;
                left: -469px;
            }
        }
}

.teachers-help {
    padding-top: 145px;
    padding-bottom: 685px;
    background:url('../../img/Center-page/section-1-back.svg')  no-repeat;
    background-size: cover;
    background-position: center ;
}
.teachers {
        
		// .teachers__inner

        &__inner {
            display: flex;
            justify-content: space-between;
		}

		// .teachers__image-box

		&__image-box {
            min-width: 400px;
            img{
                object-fit: cover;
            }
		}

		// .teachers__advantages

		&__advantages {
		}

		// .teachers__actions

		&__actions {
        }
        &__info{
            margin-top: 100px;
            padding-left: 27px;
        }
}

.logorytmic{
    padding-bottom: 700px;
    background: url('../../img/Center-page/section-2-back.svg') no-repeat;
    background-size: contain;
    background-position: center bottom;
}


@include mq('tablet-wide'){
    .juniors__content , .teachers__inner ,.info-section__inner , .info-section.e--reverse .info-section__inner{
        flex-direction: column;
    }
    .info-section.e--out .info-section__preview img , .juniors .preview-junior {
        opacity: .2;
    }
    .info-section.e--reverse .info-section__info  {
        padding-left: 0;
    }
    .teachers-help {
        padding-top: 75px;
        padding-bottom: 250px;
        background: url(../../img/Center-page/section-1-back.svg) no-repeat;
        background-size: contain;
        background-position: bottom;
    }
    .teachers__image-box {
        min-width: unset;
        max-width: 350px;
        margin: 0 auto;
    }
    .logorytmic {
    padding-bottom: 300px;
    background: url(../../img/Center-page/section-2-back.svg) no-repeat;
    background-size: contain;
    background-position: center bottom;
}
.advantages.e--2row .advantages__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}
}
@include mq('phablet'){
    .info-section__inner{
        min-width: unset;
    }

    .advantages__group {
        flex-direction: column;
    }
    .advantages__group .advantages+.advantages{
        margin-left: 0px;
    }
    .advantages.e--2row .advantages__list{
        grid-template-columns: 1fr;
    }
    .info-section .info-section__preview img {
        max-width: 200px;
    }
    .info-section__preview {
        min-width: unset;
    }
}