// Fonts

%monst-reg{
    font-family: 'Montserrat';
    font-weight: 400;
}
%monst-med{
    font-family: 'Montserrat';
    font-weight: 500;
}
%monst-semi{
    font-family: 'Montserrat';
    font-weight: 600;
}
%merri-norm{
    font-family: 'Merriweather';
    font-weight: normal;
}
%monst-alter-bold{
    font-family: 'Montserrat Alternates';
    font-weight: 600;
}

%monst-alter-light{
    font-family: 'Montserrat Alternates';
    font-weight: 500;
}
%avenir-norm{
    font-family: 'Avenir Next';
    font-weight: 500;
}
%avenir-bold{
    font-family: 'Avenir-Bold';
    font-weight: 600;
}

// Colors

$def-red:#CD142B;
$def-red-hover:#8B0A1A;
$light-red: rgba(205, 20, 43, 0.3);

$def-blue:#00237C;
$light-blue:rgba(0, 35, 124, 0.3);

$def-white: #FFFFFF;

$def-black:#030303;
$color-seashell: #F1F1F1;
$color-mercury: #E5E5E5;
$color-whisper: #ebedf5;