.half {
    &-sections {
        display: flex;
        align-items: flex-start;
    }

    &-section {
        width: 50%;
        &.e--left {
            margin-right: 2rem;
        }
        &.e--right {
            margin-left: 2rem;
        }
    }

    @include mq('tablet') {
        &-sections {
            flex-direction: column-reverse;
            align-items: center;
        }

        &-section {
            width: 100%;
            &.e--left {
                margin-right: 0;
                margin-top: 2rem;
            }
            &.e--right {
                margin-left: 0;
            }
        }
    }
}