@import 'core/module';
@import 'components/module';
@import 'views/module';
@import 'libs/module';


body{
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.07em;
    color:$def-black;
    @extend %merri-norm;
}


.container{
    margin: 0 auto;
    width: 100%;
    max-width: 1292px;
    padding: 0 1rem;
    @include mq('tablet-small'){
        &.e-tb-pd-0{
            padding:0;
        }
    }
}