@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat:wght@500;

600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap");
@font-face {
  font-family: "Avenir-Regular";
  font-display: swap;
  src: url("../fonts/Avenir-Regular.woff") format("woff"), url("../fonts/Avenir-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Avenir-Bold";
  font-display: swap;
  src: url("../fonts/Avenir-Bold.woff") format("woff"), url("../fonts/Avenir-Bold.woff2") format("woff2");
  font-weight: 600;
  font-style: bold;
}

.header,
.header__bottom .main-navigation li.current-menu-item,
.team-item__desc span,
.testimonial-item__img:after {
  font-family: 'Montserrat';
  font-weight: 600;
}

body {
  font-family: 'Merriweather';
  font-weight: normal;
}

h1,
h2,
h3,
h4,
.footer,
.cta p span,
.our-contacts__location,
.our-contacts__phones,
.our-contacts__email {
  font-family: 'Montserrat Alternates';
  font-weight: 600;
}

.footer__sub-title,
.footer-form__input {
  font-family: 'Montserrat Alternates';
  font-weight: 400;
}

h1,
.sub-title,
.sub-description,
.our-plus__item-desc,
.cta p,
.team-item__pos,
.testimonial-item__term {
  font-family: 'Montserrat Alternates';
  font-weight: 500;
}

.plan__for {
  font-family: 'Avenir Next';
  font-weight: 500;
}

.button,
.dot-list {
  font-family: 'Avenir-Bold';
  font-weight: 600;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: transparent;
  border: none;
  color: inherit;
}

html,
body {
  height: 100%;
}

main {
  position: relative;
  min-height: 100%;
}

h1 {
  color: #fff;
  line-height: 59px;
  font-size: 3rem;
}

h2 {
  font-size: 4.5rem;
  text-align: center;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

.e--red {
  color: #CD142B;
}

.e--blue {
  color: #00237C;
}

.e--light-red {
  color: rgba(205, 20, 43, 0.3);
}

.e--light-blue {
  color: rgba(0, 35, 124, 0.3);
}

.titles {
  text-align: center;
  margin-bottom: 4rem;
}

.titles h2 {
  color: rgba(0, 35, 124, 0.3);
  margin-bottom: 1rem;
}

.button {
  border-radius: 30px;
  padding: 0.75rem  3rem;
  cursor: pointer;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
}

.button:focus {
  outline: none;
}

.button.e--transparent-red {
  background-color: transparent;
  border: 2px solid #CD142B;
  color: #CD142B;
}

.button.e--transparent-blue {
  background-color: transparent;
  border: 2px solid #00237C;
  color: #00237C;
}

.button.e--white {
  background: #fff;
  color: #CD142B;
}

.button.e--red {
  color: #fff;
  background: #CD142B;
}

.button.e--red:hover,
.button.e--red:focus {
  background-color: #8B0A1A;
}

.button.e--blue {
  color: #fff;
  background: #00237C;
}

.button.e--light-red {
  color: #CD142B;
  background: transparent;
  border: 1px solid #CD142B;
}

.button.e--light-blue {
  color: #00237C;
  background: transparent;
  border: 1px solid #00237C;
}

.sub-title {
  font-size: 2rem;
  line-height: 1.3;
}

.sub-title.e--line {
  position: relative;
}

.sub-title.e--line::before {
  content: '';
  display: inline-block;
  width: 150px;
  height: 6px;
  background-color: #CD142B;
  margin-right: 4rem;
  position: absolute;
  left: -70px;
  top: calc(50% - 3px);
}

.sub-title.e--line-blue::before {
  background-color: #00237C;
}

.sub-description {
  color: #030303;
  font-size: 1.5rem;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

.overflow-hidden {
  overflow: hidden;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  color: #FFFFFF;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 85px;
  background-size: cover;
  z-index: 10000;
  background: #CD142B;
  position: relative;
}

.header__top__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

.header__top__inner::after {
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  content: "";
  display: block;
  position: absolute;
  background: url("../../img/Home-page/header-fugure.svg") no-repeat;
  height: 127px;
  width: 263px;
  top: -3px;
  z-index: -1;
}

.header__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__brand {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 12px;
}

.header__functional {
  margin-right: 1.25rem;
}

.header__bottom {
  background: #00237C;
}

.header__bottom .main-navigation {
  font-size: 13px;
}

.header__bottom .main-navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__bottom .main-navigation li.current-menu-item {
  position: relative;
}

.header__bottom .main-navigation li.current-menu-item::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  background: #CD142B;
  height: 4px;
}

.header__bottom .main-navigation a {
  display: block;
}

.header__bottom__inner {
  padding-top: 15px;
}

.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__call i {
  display: none;
}

#menu__toggle {
  opacity: 0;
  display: none;
}

.menu__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
  position: relative;
}

/* добавляем "гамбургер" */

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
}

.menu__btn > span::before {
  content: '';
  top: -8px;
}

.menu__btn > span::after {
  content: '';
  top: 8px;
}

#menu__toggle:checked ~ .menu__btn > span {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
          transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

#menu__toggle:checked ~ .header__bottom {
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%);
}

.footer {
  color: #FFFFFF;
  padding: 44px;
  background: #CD142B;
  text-align: center;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: url("../../img/Base/footer-logo.svg") center center no-repeat;
}

.footer__title {
  margin-bottom: 2.6rem;
}

.footer__sub-title {
  max-width: 654px;
  margin-bottom: 4.6rem;
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__socials .footer__socials-item + .footer__socials-item {
  margin-left: 13px;
}

.footer-form {
  width: 100%;
  margin-bottom: 4.25rem;
}

.footer-form__input {
  border: none;
  background: transparent;
  color: #fff;
  border-bottom: 2px solid #FFFFFF;
  font-size: 20px;
}

.footer-form__input::-webkit-input-placeholder {
  color: #FFFFFF;
}

.footer-form__input::-moz-placeholder {
  color: #FFFFFF;
}

.footer-form__input:-ms-input-placeholder {
  color: #FFFFFF;
}

.footer-form__input::-ms-input-placeholder {
  color: #FFFFFF;
}

.footer-form__input::placeholder {
  color: #FFFFFF;
}

.footer-form__button {
  margin-top: 4rem;
}

.footer-form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-us {
  padding: 100px 0;
}

.about-us__titles {
  margin-bottom: 1rem;
}

.about-us__check-list {
  margin-top: 2rem;
}

.about-us__button {
  margin-top: 50px;
}

.our-plus {
  padding: 50px 0;
  background-color: #F1F1F1;
  color: #00237C;
}

.our-plus__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.our-plus__item {
  -ms-flex-preferred-size: 33.3%;
      flex-basis: 33.3%;
  padding: 2rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.our-plus__item-img {
  max-width: 150px;
  margin-bottom: 1.5rem;
}

.our-plus__item-img img {
  width: 100%;
  height: auto;
}

.our-plus__item-title {
  margin-bottom: 2rem;
}

.choose-plan {
  padding: 100px 0;
}

.choose-plan__titles {
  margin-bottom: 100px;
  line-height: 1.2;
  text-align: center;
}

.choose-plan__titles h2 {
  color: rgba(205, 20, 43, 0.3);
  letter-spacing: 3px;
  max-width: 630px;
  margin: auto;
}

.choose-plan__titles p {
  position: relative;
  bottom: 12rem;
}

.gallery__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.gallery__titles {
  width: 100%;
  text-align: center;
  margin-bottom: 57px;
}

.gallery__titles h2 {
  margin-bottom: 15px;
}

.gallery__titles .sub-title {
  margin: 0 auto;
  max-width: 620px;
  line-height: 29px;
}

.gallery__titles.e--line {
  position: relative;
}

.gallery__titles.e--line::before {
  content: '';
  display: block;
  position: absolute;
  bottom: 50px;
  left: 0px;
  width: 212px;
  background: #00237C;
  height: 6px;
  border-radius: 3px;
}

.gallery__actions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  grid-gap: 21px 51px;
  margin-bottom: 32px;
}

.gallery__content {
  display: grid;
  grid-gap: 20px;
  grid-template-rows: 196.5px 196.5px;
  grid-template-columns: 577px 186px 457px;
}

.gallery__hashtags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #00237C;
  margin-bottom: 47px;
}

.gallery__hashtags .hashtag + .hashtag {
  margin-left: 50px;
}

.gallery__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery__item.e--small {
  grid-column: 2;
}

.gallery__item.e--big {
  grid-row: span 2;
}

.gallery__item.first {
  grid-row: 1;
}

.gallery__item.second {
  grid-row: 2;
}

.grid-item {
  float: left;
  width: 80px;
  height: 60px;
  border: 2px solid rgba(0, 0, 0, 0.5);
}

.grid-item--width2 {
  width: 160px;
}

.grid-item--height2 {
  height: 140px;
}

.plan {
  color: #CD142B;
  margin-bottom: 3rem;
}

.plan .half-section__img {
  max-width: 350px;
  margin: auto;
}

.plan__title {
  margin-bottom: 2rem;
  color: #00237C;
}

.plan__for {
  font-size: 18px;
  margin-bottom: 1rem;
}

.plan p {
  color: #000;
}

.plan__buttons {
  margin-top: 2rem;
}

.plan__buttons .button {
  margin-top: 1rem;
}

.plan__buttons .button:first-child {
  margin-right: 20px;
}

.plan:nth-child(odd) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  color: #00237C;
}

.plan:nth-child(odd) .half-section.e--left {
  margin-left: 2rem;
  margin-right: 0;
}

.plan:nth-child(odd) .half-section.e--right {
  margin-right: 2rem;
  margin-left: 0;
}

.cta {
  padding: 80px 0;
  background-color: #ebedf5;
}

.cta__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cta__content {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}

.cta p {
  color: #00237C;
  font-size: 2.25rem;
  line-height: 1.5;
}

.cta p span {
  display: block;
}

.cta__img {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  max-width: 320px;
}

.cta button {
  margin-top: 3rem;
}

.intro {
  overflow: hidden;
  position: relative;
}

.intro.e--home-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url("../../img/Home-page/home-main-bg.png") bottom center no-repeat;
  background-size: cover;
  height: 100vh;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.intro.e--home-page h1 {
  max-width: 1060px;
  margin-bottom: 35px;
}

.intro__content {
  z-index: 1;
}

.intro::before {
  z-index: 0;
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.intro .arr-dwn {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -1px;
  display: block;
  width: 400px;
  height: 63px;
  background: url("../../img/Home-page/arr-down-back.svg") top center no-repeat;
  background-size: cover;
}

.intro .arr-dwn img {
  margin-top: 10px;
  max-width: 38px;
}

.our-team {
  padding: 80px 0;
}

.our-team__titles {
  margin-bottom: 3rem;
}

.our-team__titles h2 {
  max-width: 600px;
  line-height: 1.1;
  margin: auto;
  color: rgba(0, 35, 124, 0.3);
}

.our-team__titles p {
  text-align: center;
  bottom: 5rem;
}

.our-team__slider {
  padding: 0 80px;
}

.our-team .slick-track {
  padding: 20px 0;
}

.our-team .slick-slide {
  margin-right: 2rem;
  margin-left: 2rem;
}

.our-team .slick-arrow {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  border: 1px solid #CD142B;
}

.our-team .slick-arrow.slick-next,
.our-team .slick-arrow.slick-prev {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  border: 1px solid #CD142B;
}

.our-team .slick-arrow.slick-next {
  right: 0;
}

.our-team .slick-arrow.slick-next:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f105";
  font-size: 1.5rem;
  color: #000;
}

.our-team .slick-arrow.slick-prev {
  left: 0;
}

.our-team .slick-arrow.slick-prev:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f104";
  font-size: 1.5rem;
  color: #000;
}

.team-item {
  background: #FFFFFF;
  -webkit-box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.1);
          box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 1.5rem 1.25rem;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team-item:focus {
  outline: none;
}

.team-item__img {
  max-width: 220px;
  border-radius: 50%;
  border: 9px solid #00237C;
  overflow: hidden;
  margin: auto;
}

.team-item__img-outline {
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  max-width: 220px;
  border: 5px solid #CD142B;
}

.team-item__img img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

.team-item__name {
  max-width: 250px;
  margin: auto;
  text-align: center;
  margin-top: 1.5rem;
  line-height: 1.2;
}

.team-item__pos {
  color: #00237C;
  margin-top: .5rem;
  text-align: center;
}

.team-item__desc {
  margin-top: 1rem;
}

.testimonials {
  padding: 80px 0;
  background-color: #fae7ea;
}

.testimonials__titles {
  margin-bottom: 100px;
}

.testimonials__slider {
  padding: 0 80px;
}

.testimonials .slick-track {
  padding: 20px 0;
}

.testimonials .slick-slide {
  margin-right: 2rem;
  margin-left: 2rem;
}

.testimonials .slick-arrow {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  border: 1px solid #CD142B;
}

.testimonials .slick-arrow.slick-next,
.testimonials .slick-arrow.slick-prev {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  border: 1px solid #CD142B;
}

.testimonials .slick-arrow.slick-next:hover,
.testimonials .slick-arrow.slick-prev:hover {
  background-color: #CD142B;
}

.testimonials .slick-arrow.slick-next {
  right: 0;
}

.testimonials .slick-arrow.slick-next:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f105";
  font-size: 1.5rem;
  color: #CD142B;
}

.testimonials .slick-arrow.slick-next:hover:before {
  color: #fff !important;
}

.testimonials .slick-arrow.slick-prev {
  left: 0;
}

.testimonials .slick-arrow.slick-prev:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f104";
  font-size: 1.5rem;
  color: #CD142B;
}

.testimonials .slick-arrow.slick-prev:hover:before {
  color: #fff;
}

.testimonial-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.testimonial-item:focus {
  outline: none;
}

.testimonial-item__img {
  max-width: 230px;
  border-radius: 50%;
  margin: auto;
  position: relative;
  border: 10px solid #CD142B;
}

.testimonial-item__img img {
  border-radius: 50%;
}

.testimonial-item__img:after {
  content: '';
  background-image: url("../img/Home-page/Quotes_orange.svg");
  background-repeat: no-repeat;
  height: 80px;
  width: 104px;
  position: absolute;
  font-size: 50px;
  bottom: -30px;
}

.testimonial-item__content {
  margin-top: 80px;
}

.testimonial-item__term {
  margin-top: 1rem;
  color: #CD142B;
}

.testimonial-item p {
  max-width: 850px;
  font-size: 1rem;
  line-height: 1.3;
  text-align: center;
  margin: auto;
  margin-top: 1rem;
}

.our-contacts {
  padding: 80px 0;
}

.our-contacts__location {
  text-align: center;
}

.our-contacts__location i {
  font-size: 2.5rem;
  margin-right: 2rem;
  color: #CD142B;
}

.our-contacts__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.our-contacts__video {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  margin-right: 1rem;
}

.our-contacts__map {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  margin-left: 1rem;
}

.our-contacts__phones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.our-contacts__phones i {
  font-size: 2rem;
  margin-right: 1rem;
  color: #CD142B;
  -webkit-transform: rotate(-35deg);
      -ms-transform: rotate(-35deg);
          transform: rotate(-35deg);
}

.our-contacts__phones span {
  display: block;
}

.our-contacts__phones span:first-child {
  margin-bottom: .5rem;
}

.our-contacts__email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3rem;
}

.our-contacts__email i {
  font-size: 2.5rem;
  margin-right: 2rem;
  color: #CD142B;
}

.check-list {
  font-size: 18px;
}

.check-list__title {
  color: #00237C;
  font-size: 20px;
  margin-bottom: 1rem;
}

.check-list ul {
  line-height: 1.2;
}

.check-list ul li {
  margin-bottom: 1rem;
}

.check-list ul li:last-child {
  margin-bottom: 0;
}

.check-list ul li::before {
  content: '\f00c';
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #CD142B;
  margin-right: .75rem;
  font-size: 1.2rem;
}

.half-sections {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.half-section {
  width: 50%;
}

.half-section.e--left {
  margin-right: 2rem;
}

.half-section.e--right {
  margin-left: 2rem;
}

.dot-list {
  font-size: 18px;
  color: #00237C;
}

.dot-list.e--red {
  color: #CD142B;
}

.dot-list.e--red li::before {
  background-color: #CD142B;
}

.dot-list li {
  padding-left: 1rem;
  margin-bottom: 1rem;
}

.dot-list li:last-child {
  margin-bottom: 0;
}

.dot-list li:before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #00237C;
  margin-right: .5rem;
}

.swiper-container {
  width: 600px;
  height: 300px;
}

/* Slider */

.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */

.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */

@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Arrows */

.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}

[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}

.slick-prev:before {
  content: "←";
}

[dir="rtl"] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}

[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}

.slick-next:before {
  content: "→";
}

[dir="rtl"] .slick-next:before {
  content: "←";
}

/* Dots */

.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

body {
  font-size: 16px;
  letter-spacing: 0.07em;
  color: #030303;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1292px;
  padding: 0 1rem;
}

p {
  font-size: 18px;
  line-height: 20px;
}

@media only screen and (min-width: 1247px) {
  .header .menu__btn {
    display: none;
  }

  .header .main-navigation ul a {
    padding: 2rem 0;
  }
}

@media only screen and (max-width: 1248px) {
  .header {
    border-bottom: unset;
  }

  .header.sticky__bottom {
    position: absolute;
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
  }

  .header__bottom {
    position: absolute;
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    width: 100%;
  }

  .header__bottom__inner {
    padding-top: 38px;
  }

  .header__bottom ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }

  .header__bottom ul a {
    padding: 1rem;
  }

  .header .header__test-link {
    margin-left: 1rem;
    font-size: 14px;
  }

  .header__functional {
    margin-right: .5rem;
  }
}

@media only screen and (max-width: 1024px) {
  h1 {
    font-size: 2rem;
    line-height: 39px;
  }

  h2 {
    font-size: 3.5rem;
  }

  .sub-title {
    font-size: 1.5rem;
  }

  .sub-title.e--line {
    position: static;
  }

  .sub-title.e--line::before {
    display: none;
  }

  .header .header__test-link {
    display: none;
  }

  .header__call {
    padding: .5rem 1.5rem;
  }

  .footer-form .footer-form__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer-form__input {
    margin-top: 2rem;
  }

  .our-plus__items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .our-plus__item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }

  .choose-plan__titles p {
    position: static;
  }

  .our-team__slider {
    padding: 0 60px;
  }

  .our-team .slick-slide {
    margin-right: .5rem;
    margin-left: .5rem;
  }

  .our-contacts__video {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }

  .our-contacts__map {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

@media only screen and (max-width: 768px) {
  .plan:nth-child(odd) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .cta__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .cta__content,
  .cta__img {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }

  .testimonials__slider {
    padding: 0 40px;
  }

  .testimonials .slick-slide {
    margin-right: 1rem;
    margin-left: 1rem;
  }

  .our-contacts__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .our-contacts__video {
    -ms-flex-preferred-size: 80%;
        flex-basis: 80%;
    margin-right: 0;
    margin-top: 2rem;
  }

  .our-contacts__map {
    -ms-flex-preferred-size: 80%;
        flex-basis: 80%;
    margin-left: 0;
  }

  .our-contacts__email {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .our-contacts__email i {
    margin-right: 0;
    margin-bottom: .5rem;
  }

  .our-contacts__email p {
    font-size: 14px;
  }

  .half-sections {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .half-section {
    width: 100%;
  }

  .half-section.e--left {
    margin-right: 0;
    margin-top: 2rem;
  }

  .half-section.e--right {
    margin-left: 0;
  }

  .container.e-tb-pd-0 {
    padding: 0;
  }

  p {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 640px) {
  .header__call {
    padding: .5rem 1rem;
  }

  .header__call {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 0px;
  }

  .header__call span {
    display: none;
  }

  .header__call i {
    color: #CD142B;
    font-size: 20px;
    display: block;
  }

  .header__functional {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 20px 0;
  }

  .header__top__inner::after {
    top: -18px;
  }

  .header__bottom__inner {
    padding-top: 20px;
  }

  .our-plus__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@media only screen and (max-width: 560px) {
  h1 {
    font-size: 1.5rem;
    line-height: 29px;
  }

  .footer__inner {
    background-size: contain;
  }
}

@media only screen and (max-width: 480px) {
  h1 {
    font-size: 1.2rem;
  }

  h2 {
    font-size: 2.25rem;
  }

  h4 {
    font-size: 1rem;
  }

  h5 {
    font-size: .8rem;
  }

  .sub-title {
    font-size: 1.25rem;
  }

  .footer__sub-title {
    max-width: 654px;
    margin-bottom: 2.6rem;
  }

  .our-team__slider {
    padding: 0;
  }

  .our-team .slick-arrow.slick-arrow.slick-next,
  .our-team .slick-arrow.slick-prev {
    display: none;
  }

  .team-item {
    padding: 1rem .5rem;
  }

  .team-item__img-outline {
    max-width: 150px;
  }

  .team-item p {
    font-size: 1rem;
  }
}