.adult {
    padding: 100px 0;
    &__reasons {
        display: flex;
        flex-direction: column;
        position: relative;
        padding-bottom: 10rem;
    }

    &__reason {
        width: 100%;
        text-align: center;
        position: relative;
        margin-bottom: 6rem;
        &:last-child {
            margin-bottom: 0;
        }
        &-imgs {
            position: absolute;
        }

        p {
            font-size: 20px;
            max-width: 530px;
            @extend %monst-alter-light;
            position: relative;
            margin: auto;
            text-align: left;
        }

        &.e--1 {
            margin-top: 5rem;
            p {
                transform: translate(0%, 0%);
            }
            .adult__reason-imgs {
                right: -1rem;
                width: 100%;
                width: 320px;
                top: -80px;
                .arrow {
                    position: absolute;
                    right: 85%;
                }
            }
        }

        &.e--2 {
            left: 0;
            p {
                transform: translate(40%, 0%);
                position: relative;
                top: 12rem;
            }

            .adult__reason-imgs {
                left: -1rem;
                width: 100%;
                width: 320px;
                top: -80px;
                .arrow {
                    position: absolute;
                    left: 85%;
                    top: 200px;
                }
            }
        }

        
    }

    &-reasons {
        position: relative;
        padding-bottom: 120px;
    }

    &__groups {
        display: flex;
        align-items: flex-start;
        padding: 40px 0;
        &-groups {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            width: 60%;
        }

        &-remark {
            @extend %monst-alter-regular;
            margin: 2rem 0;
            color: $def-blue;
        }

        &-row {
            display: flex;
            button {
                margin-right: 1rem;
            }
        }

        &-half {
            width: 40%;
            &-img {
                max-width: 350px;
                margin: auto;
            }
        }
        &-item {
            flex-basis: 50%;
            padding: 1rem 0;
            padding-right: 1rem;
        }
    }

    

    @include mq('desktop') {
        &__groups {
            &-groups {
                width: 70%;
            }

            &-img {
                width: 30%;
            }

            &-row {
                flex-direction: column;
                button {
                    margin-right: 0;
                    margin-bottom: 1rem;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }


    }

    @include mq('tablet-wide') {
        
        &__reason {
            &.e--2 {
                p {
                    transform: translate(20%, 0%);
                }
            }

            &.e--1 {
                p {
                    max-width: 450px;
                    transform: translate(-30%, 0%);
                }
                
            }
        }

        &__reasons {
            padding-top: 100px;
        }
    } 

    @include mq('tablet') {
        &__reasons {
            padding-top: 120px;
        }
        &__reason {
            &-imgs {
                opacity: .75;
                .arrow {
                    display: none;
                }
            }

            &.e--1 {
               p {
                transform: translate(0,0);
                max-width: 100%;
               }
               .adult__reason-imgs {
                top: -15rem;
                }
            }

            &.e--2 {
                p {
                    transform: translate(0,-2rem);
                    max-width: 100%;
                }
            }
        }

        &__groups {
            flex-direction: column;
            &-half  {
                width: 100%;
                margin-top: 2rem;
            }

            &-groups {
                width: 100%;
            }

            &-row {
                margin: auto;
            }
        }
    } 

    @include mq('phone-wide') {
        &__groups {
            &-item {
                flex-basis: 100%;
                padding-right: 0;
            }
        }
    }
}

.adult-stipe-1 {
    height: 500px;
    background-image: url('../img/adult/stripes-1.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    margin-top: -300px;
}