.choose-plan {
    padding: 100px 0;

    &__titles {
        margin-bottom: 100px;
        
        line-height: 1.2;
        text-align: center;
        h2 {
            color: $light-red;
            letter-spacing: 3px;
            max-width: 630px;
            margin: auto;
        }

        p {
            position: relative;
            bottom: 12rem;
        }
    }

    @include mq('tablet-wide') {
        &__titles {
            p {
                position: static;
            }
        }
    }
}