.footer {
    color:$def-white;
   padding-top: 44px;
   padding-bottom: 7px;
    background:$def-red;
    @extend %monst-alter-bold;
    text-align: center;
    // .footer__inner

    &__inner {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background: url('img/Base/footer-logo.svg') center center no-repeat;
    }

    // .footer__title

    &__title {
        margin-bottom: 2.6rem;
    }

    // .footer__sub-title

    &__sub-title {
        @extend %monst-alter-regular;
        max-width: 654px;
        margin-bottom: 4.6rem;
    }

    // .footer__contact-form

    &__contact-form {
        
    }

    // .footer__socials

    &__socials {
        display: flex;
        padding-bottom: 40px;
        .footer__socials-item + .footer__socials-item{
            margin-left: 13px;
        }
    }

        // .footer__copywrite

    .copywrite-footer {
        display: flex;
        border-top: 1px solid $def-white;
        position: relative;
        @extend %avenir-norm;
        // .copywrite-footer__inner
        &__inner {
            padding-top: 6px;
            display: flex;
            justify-content: center;
            position: relative;
            span{
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
            }
            a{
                display: flex;
                align-items: center;
                margin-left: auto;
                img{
                    max-width: 14px;
                    margin-left: 12px;
                }
            }
        }
    }

    @include mq('phablet'){
        &__inner {
            background-size: contain;
        }
    }
    @include mq('phone-wide'){
        &__sub-title {
            max-width: 654px;
            margin-bottom: 2.6rem;
        }
    }
    
}
.footer-form {
    width: 100%;
    // .footer-form__row
    &__input{
        @extend %monst-alter-regular;
        border:none;
        background: transparent;
        color:#fff;
        border-bottom: 2px solid $def-white;
        font-size:20px;
        &::placeholder{
            color: $def-white;
        }
    }
    &__button{
        margin-top: 4rem;
    }
    &__row {
        display: flex;
        justify-content: space-between;
    }
    margin-bottom: 4.25rem;
    @include mq('tablet-wide'){
        .footer-form__row {
            flex-direction: column;
        }
        &__input{
            margin-top: 2rem;
        }
    }
}

