.gallery {

    // .gallery__inner

    &__inner {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    // .gallery__titles

    &__titles {
        width: 100%;
        text-align: center;
        margin-bottom: 57px;
        h2{
            margin-bottom: 15px;
        }
        .sub-title{
            margin:0 auto;
            max-width: 620px;
            line-height: 29px;
        }
        &.e--line{
            position: relative;
            &::before{
                content: '';
                display: block;
                position: absolute;
                bottom: 50px;
                left: 0px;
                width: 212px;
                background: $def-blue;
                height: 6px;
                border-radius: 3px;
            }

        }
    }

    // .gallery__actions

    &__actions {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: fit-content;
        grid-gap: 21px 51px;
        margin-bottom: 32px;
    }

    // .gallery__content
    &__hashtags{
        display: flex;
        color:$def-blue;
        margin-bottom: 47px;
        .hashtag + .hashtag{
            margin-left: 50px;
        }
    }
    &__image{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.grid{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: 209px 164px 262px;
}
.grid-item {
    &-1{
        // @include mediaImage(577px,393px)

    }
    &-2{
        background: red;
        grid-column: 2;
        // @include mediaImage(186px,209px)
    }
    &-3{
        // @include mediaImage(186px,209px)
        grid-column: 2;
    }
    &-4{
        grid-column: 3;
        grid-row: 1/3;
        // @include mediaImage(457px,393px)
    }
    &-5{
        // @include mediaImage(459px,263px)
    }
    &-6{
        // @include mediaImage(338px,262px)
    }
    &-7{
        // @include mediaImage(423px,263px)
    }
    img{
        height: 100%;
    }
    &.spn-rw-2{
        grid-row: span 2;
    }
    &.spn-cl-5{
        grid-column: span 5;
    }
    &.spn-cl-3{
        grid-column: span 3;
    }
    &.spn-cl-2{
        grid-column: span 2;
    }
    &.spn-cl-4{
        grid-column: span 4;
    }
  }
 