.gallery {

    // .gallery__inner
    padding-top: 123px;
    padding-bottom:  111px;
    &__inner {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    // .gallery__titles

    &__titles {
        width: 100%;
        text-align: center;
        margin-bottom: 57px;
        h2{
            margin-bottom: 15px;
        }
        .sub-title{
            margin:0 auto;
            max-width: 620px;
            line-height: 29px;
        }
        &.e--line{
            position: relative;
            &::before{
                content: '';
                display: block;
                position: absolute;
                bottom: 50px;
                left: 0px;
                width: 212px;
                background: $def-blue;
                height: 6px;
                border-radius: 3px;
                @include mq('tablet'){
                    display: none;
                }
            }
        }
    }

    // .gallery__actions

    &__actions {
        
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 600px;
        margin: auto;
        margin-bottom: 32px;
        & > div {
            margin: .5rem;
            flex-basis: 45%;
            display: block;
            text-align: center;
            max-width: 260px;
            font-size: 1.5rem;

            & > a {
                display: block;
                padding: .5rem 1rem;

                &:hover {
                    background-color: $def-blue;
                    color: #fff;
                }
            }

            &.active {
               & > a {
                    background-color: $def-blue;
                    color: #fff;
                }
            }
        }
    }



    // .gallery__content
    &__hashtags{
        display: flex;
        color:$def-blue;
        margin-bottom: 47px;
        .hashtag + .hashtag{
            margin-left: 50px;
        }
    }
    &__image{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__pagination{
        display: flex;
        align-items: center;
        align-self: flex-end;
        color: $def-blue;
        @extend %avenir-bold;
        img{
            margin-left: 20px;
            max-width: 32px;
            transition: all .3 ease .0s ;
        }
        span{
            transition: all .3s ease .0s;
        }
        @include mq('tablet','min'){
            &:hover{
                span{
                    transform: translateX(-20px);
                }
            }
        }
    }

    @include mq('tablet-small') {
        &__actions {
            & > div {
               .button {
                padding: .5rem 1rem;
               } 
            }
        }
    }

    @include mq('phablet') {
        &__actions {
            & > div {
                a {
                    font-size: 1rem;
                }
            }
        }
    }

    @include mq('phone-wide') {
        &__actions {
            & > div {
                flex-basis: 44%;
               .button {
                padding: .5rem .25rem;
                font-size: 12px;
               } 
            }
        }
    }
}
.grid{
    display: grid;
    grid-template-columns: 472px/1260px 82px/1260px 186px/1260px  457px/1260px;
    grid-template-rows: 186px 186px 304px;
    grid-gap:20px;
    grid-auto-flow: dense;
    padding-bottom: 1.5rem;
    &-item{
        overflow: hidden;
        &:hover {
            img {
                transform: scale(1.15);
                filter: sepia(.3);
            }
        }
        img{
            height: 100%;
            object-fit: cover;
            transition: .3s;
        }
        @include mq('tablet','min'){
            &.spn-rw-2{
                grid-row: span 2;
            }
            &-1{
                grid-column: span 2;
            }
            &-2{
                grid-column: 3;
            }
            &-3{
                grid-column: 3;
            }
            &-4{
                grid-row: 1/3;
        grid-column: 4;
            }
            &-6{
                grid-column: span 2;
            }
        }
        
    }
    &.e--wide{
        margin: 0 -1rem;
    }
    @include mq('tablet'){
        grid-template-columns: 1fr;
        grid-template-rows: unset;
    }
}


.gallery {

    &__actions {
        padding-bottom: 100px;
        
        @include mq('phone-wide') {
            padding-bottom: 120px;
        }
    }
    &__tabs {
        &-subtabs {
            // position: absolute
            display: flex;
            position: absolute;
            left: 0;
            width: 100%;
            justify-content: center;
            margin-top: 1rem;
            li {
                &:first-child {
                    margin-right: 1rem;
                }

            }
        }

       

        &-hashtags {
            position: absolute;
            left: 0;
            width: 100%;
            justify-content: center;
            margin-top: 2rem;
            
            display: none;

            &.active {
                display:flex;
            }

            a {
                font-size: 1rem;
                &:first-child {
                    margin-right: 1rem;
                }

                color: $def-blue;

                &:hover,
                &.active {
                    color: $def-red;
                }
            }
        }

        @include mq('tablet-small') {
            &-hashtags {
                a {
                    font-size: 14px;

                }
            }
        }

        @include mq('phone-wide') {
            &-hashtags {
                flex-direction: column;
                margin-top: 1rem;
                a {

                    &:first-child {
                        margin-right: 0;
                        margin-bottom: .5rem;
                    }
                }
            }
        }

        ul  {
            display: none !important;
        }
    }
}