.intro{
    margin-top: 178px;
    background-size: cover;
    position: relative;
    min-height: 634px;
    &.e--home-page{
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: cover;
        height: 100vh;
        text-align: center;
        flex-direction: column;
        margin-top: 0;
        h1{
            max-width: 1060px;
            margin-bottom: 35px;
            margin: 0 auto;
        }
        &__content{
            padding-top: 0;
        }
    }
    &.e--single-page{
        background: url('../../img/main-section.png') bottom center no-repeat;
        background-size: cover;
    }
    &.e--improve{
        background: url('../../img/improve.png') bottom center no-repeat;
        background-size: cover;
    }
    &.e--zno{
        background: url('../../img/zno.png') bottom center no-repeat;
        background-size: cover;
    }
    &.e--translations{
        background: url('../../img/translations.png') bottom center no-repeat;
        background-size: cover;
    }


    .container{
        z-index: 1;
        position: relative;
    }
    &__content{
        padding-top: 59px;
        color: #fff;

        button {
            margin-top: 2rem;
        }
    }
    &::before{
        z-index: 1;
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
    }
    .arr-dwn{
        z-index: 1;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -4px;
        display: flex;
        justify-content: center;
        width: 380px;
        height: 63px;
        background: url('../img/Home-page/arr-down-back.svg') top center no-repeat;
        background-size: cover;
        img{
            margin-top: 10px;
            max-width: 38px;
            transition: all .3s;
        }
        &:hover{
            img{
                position: relative;
                transform: translateY(20px);
            }
        }
        @include mq('phone'){
            max-width: 320px;
            width: 100%;
            bottom: -15px;
        }
    }
    .breadcrumbs{
        display: flex;
        align-items: center;
        margin-bottom: 85px;
        span{
            @extend %monst-alter-regular;
            padding: 0 9px  0 13px ;
            height: 20px;
        }
    }
    &__description{
        margin-top: 27px;
        font-size: 30px;
        line-height: 1.2;
        letter-spacing: 0.07em;
        color: #B5B5B5;
        @extend %monst-alter-regular;
        padding-bottom: 201px;
        @include mq('phone'){
            font-size: 1.2rem;
        }
    }
    .contact-button{
        cursor: pointer;
        background: $def-red;
        color: $def-white;
        border-radius: 19px ;
        position: absolute;
        bottom: 0;
        right: 160px;
        z-index: 1;
        padding: 10px 24px;
        border-radius: 18px 24px 0 0;
        &::after{
            position: absolute;
            content: ')';
            top: 2px;
            right: 15px;
            -webkit-transform: rotate(120deg);
            -ms-transform: rotate(120deg);
            transform: rotate(-42deg);
        }
    }
    .phone-button{
        background: $def-white;
    }
    @include mq('desktop'){
        margin-top: 85px;
    }
}
#previewVideo{
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 90%;
    bottom: 0;
    @include mq('desktop'){
        height: 100%;
    }
}