.school {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 300px;
    position: relative;
    &:after {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        bottom: 0;
        left: -0;
        z-index: -1;
        background: url(../../img/school-middle/stripes-1.svg) center 15% / 1500px no-repeat;
    }
    
    .info-section__inner {
        align-items: flex-start;
        @include mq('tablet-wide') {
            align-items: center;
        }
    }
    &__advantages {
        padding: 1rem 0;
        padding-right: 2rem;
    } 

    &-info {
        padding: 80px 0;
        position: relative;
        &__img {
            max-width: 450px;
            margin: auto;
            transform: translateX(15rem);
            margin-top: 3rem;
            position: relative;

            &.e--2 {
                transform: translateX(-15rem);

                .arrow {
                    right: auto;
                    left: -45%;
                    bottom: 50%;
                }

                @include mq('desktop') {
                    transform: translateX(0);
                }
            }

            .arrow {
                position: absolute;
                bottom: 67%;
                right: -16%;
                width: 250px;
                
            }

            @include mq('desktop') {
               position: absolute;
               right: 0;
               bottom: 5rem;
               transform: translateX(0);
               .arrow {
                   display: none;
               }
            }

            @include mq('tablet-wide') {
                position: static;
                margin: auto;
                margin-top: 2rem;
             }
        }
    }
}

.school-info {
    .info__button {
        margin-top: 0;
    }

    &.e--stripe {
        padding-bottom: 450px;
        background-image: url('../img/school-middle/stripes-3.svg');
        background-size: contain;
        background-position: center bottom;
        background-repeat: no-repeat;

        @include mq('tablet-wide') {
            padding-bottom: 200px;
            background-size: contain;
            background-position: center bottom;
        }

        @include mq('phone-wide') {
            padding-bottom: 100px;
        }

    }
}


.school-preview {
     @include mq('tablet-wide') {
         margin-top: 2rem;
     }
}

.preschool-info {

    
    &.e--bg-stripe {
        padding-bottom: 250px;
        background-image: url('../img/school-middle/stripes-4.svg');
        background-size: contain;
        background-position: center bottom -2rem;
        background-repeat: no-repeat;

        @include mq('tablet-wide') {
            padding-bottom: 150px;
            background-size: contain;
            background-position: center bottom;
        }

        @include mq('phone-wide') {
            padding-bottom: 80px;
        }

    }

    .info__section__info {
        position: relative;
        &::after {
            content: '';
            position: absolute;
            height: 240px;
            width: 120px;
            background-image: url('../img/school-middle/dots-1.svg');
            left: -7rem;
            top: -5rem;
        }

        
       & > p {
            margin-top: 2rem;
            max-width: 70%;
            line-height: 1.5;
            @include mq('tablet-wide') {
                max-width: 100%;
            }
        }
    }

}


