.js-tabs {
    &__content {
        height: 0;
        overflow: hidden;

        &.active {
            height: auto;
        }
    }

    &__subtabs {
        display: none;
    }

    &__tab {
        &.active {
            .js-tabs__subtabs {
                display: flex;
            }
        }
    }

    &__subcontent {
        display: none;
        &.active {
            display: block;
        }
    }
}