.js-tabs {
    &__content {
        display: none;

        &.active {
            display: block;
        }
    }

    &__subtabs {
        display: none;
    }

    &__tab {
        &.active {
            .js-tabs__subtabs {
                display: flex;
            }
        }
    }

    &__subcontent {
        display: none;
        &.active {
            display: block;
        }
    }
}